<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sweet and Delicious</title>

    <link rel="icon" href="../../public/images/icon.png" >
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="bootstrap-overrides">
    <div class="bg-color">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:3000/homePage"><img src="../../public/images/icon.png" width="25" height="25"></a></li>
                </ul>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--  Search  -->
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input id="searchContent" type="text" class="form-control" placeholder="Search Here">
                        </div>
                        <a id="searchButton" href="http://localhost:3000/homePage" class="btn">Search</a>

                    </form>

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bakery <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="mainA"><a href="http://localhost:3000/homePage/tag?searchTag=Brownies">Brownies</a></li>
                                <li><a href="http://localhost:3000/homePage/tag?searchTag=Cookies">Cookies</a></li>
                                <li><a href="http://localhost:3000/homePage/tag?searchTag=Breads">Breads</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Frozen <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:3000/homePage/tag?searchTag=Ice-Cream">Ice-Cream</a></li>
                                <li><a href="http://localhost:3000/homePage/tag?searchTag=Yoghurt">Yoghurt</a></li>
                                <!-- <li><a href="http://localhost:3000/homePage/tag?searchTag=Sports">Sports</a></li> -->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li class="mainA"><a href="http://localhost:3000/homePage/tag?searchTag=Brownies-Recipe">Brownies</a></li>
                              <li><a href="http://localhost:3000/homePage/tag?searchTag=Cookies-Recipe">Cookies</a></li>
                              <li><a href="http://localhost:3000/homePage/tag?searchTag=Breads-Recipe">Breads</a></li>
                                <li><a href="http://localhost:3000/homePage/tag?searchTag=Ice-Cream-Recipe">Ice-Cream</a></li>
                                <li><a href="http://localhost:3000/homePage/tag?searchTag=Yoghurt-Recipe">Yoghurt</a></li>
                                <!-- <li><a href="http://localhost:3000/homePage/tag?searchTag=Sports">Sports</a></li> -->
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{#if userLogin}}
                            <span>
                                <span id="userNAME"><a href="/users/account" style="color:darkblue;"> {{userLogin.nickname}}</a></span>&nbsp;&nbsp;
                            </span>
                            <button type="button" onclick="window.location.href='/users/signout'" class="btn AllButton navbar-btn">Sign out</button>
                        {{else}}
                            <button type="button" onclick="window.location.href='/users/signin'" class="btn btn-default navbar-btn">Sign in</button>
                            <button type="button" onclick="window.location.href='/users/signup'" class="btn AllButton navbar-btn">Sign up</button>
                        {{/if}}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div>
            {{{body}}}
        </div>
        <hr/>
    </div>
    <div class="footer">
        <p>
            <!-- Button trigger modal -->
            <button class="footerButton" data-toggle="modal" data-target="#myModal1">Soham Parekh |</button>
            <button class="footerButton" data-toggle="modal" data-target="#myModal2">Tanaya Jadhav</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel1"><a href="https://github.com/parekh0711">Soham Parekh</a></h4>
                    </div>
                    <div class="modal-body">
                        <p>MIS - 111803137</p>
                        <p>I am the Co-creator of this website.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #b52818; color: white">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2"><a href="https://github.com/tanayajadhav1105">Tanaya Jadhav</a></h4>
                    </div>
                    <div class="modal-body">
                        <p>I am the Co-creator of this website.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #b52818; color: white">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </p>
        <p>
            <a target="_blank" href="https://gitlab.com/parekh0711/wst-mini-website">@COEP WST</a>
        </p>
    </div>
    <div id="to-top">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">TOP</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#to-top').click(function () {
            $page = $('html, body')
            var distance = $('html').scrollTop() + $('body').scrollTop()
            var time = 250
            var interval = 25
            var itemDistance = distance/(time/interval)

            var intervalId = setInterval(function () {
                distance -= itemDistance
                if(distance <= 0){
                    distance = 0
                    clearInterval(intervalId)
                }
                $page.scrollTop(distance)
            }, interval)
        })

        $('#searchButton').click(function () {
            let typeIn = $('#searchContent').val();
            var url;
            if(typeIn){
                url = `http://localhost:3000/homePage/search?searchString=${typeIn}`;
            }else {
                url = "http://localhost:3000/homePage";
            }
            $('#searchButton').prop('href', url)
        })
    </script>
    </body>
</html>
