
<body>
    <div class="container" style="margin-left:30%;text-align:center;margin-top:10%;">
    <div class="row">
        <div class="col-sm-8">
            <br>
            <form id="signin-form" method="post" action="/users/signin">
                <div class="form-group">
                    <p class="welcome" style="color:#520715;">Welcome!</p>
                    <br/>
                    <p class="noPost" for="text1" style="color:#520715;">Username</p>
                    <input type="email" class="form-control" id="signinUserName" name="username" placeholder="username@xyz.com">
                    <br>
                    <p class="noPost" for="text1" style="color:#520715;">Password</p>
                    <input type="password" class="form-control" id="signinPassword" name="password" placeholder="Password">
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn AllButton">Sign in</button>
                    </div>
                    {{#unless status}}
                        <p class="wrongMsg">{{message}}</p>
                    {{/unless}}
                </div>
            </form>
        </div>
    </div>
</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
